<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>식재료 탭</title>
<style>
    #frige,#ice{
        height: 300px; width: 300px;
        display: inline-block;
        border: 1px solid black;
    }
    #text{ 
        height: 200px; width: 300px;
        display: inline-block;
        }
</style>
    

</head>
<body>
<span>냉장고</span>
<span>냉동실</span>
<br>
<div id = "frige">
    
</div>
<div id = "ice">
    
</div>

<br> <br>

<div id = "banner">
    <input name="push" type="button" 
        value="재료추가"/> 
    
    </span>
</div>



</body>
</html>

