<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>레시피탭</title>
<style>
    span {
        position :relative;
        bottom : 50px;
        right : -100px;
    }
</style>
    

</head>
<body>
    <a href="링크를 넣어주세요" height="1" width="2" target="_blank">
        <img src="logo.png" height="100" width="200" alt="위의 이미지를 누르면 연결됩니다.">
    </a>
    <span>재료 리스트 적기</span>
    <br>
    <a href="링크를 넣어주세요" height="1" width="2" target="_blank">
        <img src="logo.png" height="100" width="200" alt="위의 이미지를 누르면 연결됩니다.">
    </a>
    <span>재료 리스트 적기</span>
    <br>
    <a href="링크를 넣어주세요" height="1" width="2" target="_blank">
        <img src="logo.png" height="100" width="200" alt="위의 이미지를 누르면 연결됩니다.">
    </a>
    <span>재료 리스트 적기</span>
    <br>
    <a href="링크를 넣어주세요" height="1" width="2" target="_blank">
        <img src="logo.png" height="100" width="200" alt="위의 이미지를 누르면 연결됩니다.">
    </a>
    <span>재료 리스트 적기</span>
    <br>
    <a href="링크를 넣어주세요" height="1" width="2" target="_blank">
        <img src="logo.png" height="100" width="200" alt="위의 이미지를 누르면 연결됩니다.">
    </a>
    <span>재료 리스트 적기</span>
    <br>
    <a href="링크를 넣어주세요" height="1" width="2" target="_blank">
        <img src="logo.png" height="100" width="200" alt="위의 이미지를 누르면 연결됩니다.">
    </a>
    <span>재료 리스트 적기</span>
    <br>
    <a href="링크를 넣어주세요" height="1" width="2" target="_blank">
        <img src="logo.png" height="100" width="200" alt="위의 이미지를 누르면 연결됩니다.">
    </a>
    <span>재료 리스트 적기</span>
    <br>
    <a href="링크를 넣어주세요" height="1" width="2" target="_blank">
        <img src="logo.png" height="100" width="200" alt="위의 이미지를 누르면 연결됩니다.">
    </a>
    <span>재료 리스트 적기</span>
    <br>
    <a href="링크를 넣어주세요" height="1" width="2" target="_blank">
        <img src="logo.png" height="100" width="200" alt="위의 이미지를 누르면 연결됩니다.">
    </a>
    <span>재료 리스트 적기</span>
    <br>         

</body>
</html>

